body,
html {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: #777;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.menu {
    /* border: 1px solid red; */
    font-family: 'Tangerine', serif;
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
    width: 100%;
    height: 370px;
    position: fixed;
    background: linear-gradient(black, transparent);
    color: #fff;
    z-index: 10;

}

.menu ul {
    /* border: 1px solid red; */
    width: 100%;
    backdrop-filter: blur(5px);
    padding: 0 20%;
    list-style: none;
    border-bottom: 4px solid transparent;
}


.menu ul li {
    /* border: 1px solid red; */
    display: inline-block;
    margin: 0 auto;
    padding: 10px 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

li:hover {
    color: #fff;
    background: linear-gradient(black, transparent);
    border-radius: 15px;
}



.conteudo {
    padding: 50px 80px;
}

h3 {
    font-size: 2.2em;
    color: #111;
    text-align: center;
}

P {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}


/* Efeito Parallax */

.caixa1,
.caixa2,
.caixa3,
.caixa4,
.caixa5,
.caixa6 {
    position: relative;
    height: 100%;
    /* opacity: 0.7; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
}

.caixa1 {
    background-image: url(../imagens/imagem1.jpg);
}

.caixa2 {
    background-image: url(../imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(../imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(../imagens/imagem4.jpg);
}

.caixa5 {
    background-image: url(../imagens/imagem5.jpg);
}

.caixa6 {
    background-image: url(../imagens/imagem6.jpg);
}